h3, p, a, header, nav, .w3-button, .w3-top, .w3-large, .fa-discord-alt, img {
 transform: rotate(180deg) !important;
}

body,h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/imgs/hero-img.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

#home-title-lg {
  text-shadow: 3px 4px 3px black;
}

#home-title-sm {
  text-shadow: 2px 3px 3px black;
}

#about p {
  padding: 0vh 10vw 0vh 10vw;
}
